html{
    background: -webkit-linear-gradient(0, #26ff009f 33%, #00640877 100%);
}

body{
    margin : 0;
    text-align: center;
}

#login {
    text-align: center;
    padding: 10%;
    align-items: center;
}

input
{
    width: 50%;
    padding: 2%;
    border-radius: 20px;
    margin: 1%;
    border-style: none;
    text-align: center;
}
h2
{
    color:#df9600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#button
{
    color: 	#dfdb00;
    background: -webkit-linear-gradient(0, #000ecc41 33%, #00aeff44 100%);
    margin-top: 5%;

}
#bar
{
    width: 100%;
    background: -webkit-linear-gradient(180deg, #ff00008a 15%, green 50%,rgba(255, 255, 0, 0.52) 85%);
    text-align: center;
}
#logo
{
    width: 4%;
    height: 4%;
    margin-top: 10px;
    padding-right: 50%;
    padding-top: 2%;
}
#barb
{
    width: 100px;
    background: hsla(236, 100%, 40%, 0) ;
    color:#000000;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 20px;
}


#za
{
    display: inline;

}
#barb:hover
{
    color: rgb(0, 38, 255);
}
#button:hover
{
    color: 	black;
    background: -webkit-linear-gradient(0, #00aeff60 33%, #000ecc44 100%);

}

#plaque
{
    width: 100%;
    margin-top: 5%;
}

section
{
    width: 80%;
    border-radius: 5%;
    height: 100%;
    margin: 0 auto;
}